{% extends 'default.html' %}

{% load custom_filters %}

{% block title %} Edit Post {% endblock title %}

{% block header %}
    <h2>Редактирование поста:</h2>
{% endblock header %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <div align="right">
            <input type="submit" value="Обновить пост">
        </div>
    </form>
{% endblock content %}

{% block footer %}
    <a href="{% url 'post_list' %}">К списку новостей</a>
{% endblock footer %}