{% extends 'default.html' %}

{% load custom_filters %}

{% block title %} Filtered News {% endblock title %}

{% block header %}
    {% if posts %}
        <h2>Всего новостей {{ posts|length }}</h2>
        <!-- Перед таблицей добавим форму для поиска -->
        <form method="GET">
            {{ filter.form }}
            <input type="submit" value="Найти">
        </form>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock header %}

{% block content %}
    {% if posts %}
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Текст
                </td>
                <td>
                    Автор
                </td>
            </tr>
        {% for post in posts %}
            <tr>
                <td>
                    {{ post.title|censor }}
                </td>
                <td>
                    {{ post.creation_date|date:'d M Y' }}
                </td>
                <td>
                    {% with text=post.text|truncatechars:50 %}
                    {{ text|censor }}
                    {% endwith %}
                </td>
                <td>
                    {{ post.author.user }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}

{% block footer %}
    <div>
        <a href="{% url 'post_list' %}">К списку новостей</a>
    </div>
{% endblock footer %}